form {
    padding: 10px;
    text-align: center;
    background: peachpuff;
    border-radius: 5rem;
}

form label {
    display: flex;
    justify-content: space-around;
}

form input {
    padding: 10px;
    margin-bottom: 10px;
}